<h1>{{displayName}}</h1>
<div class="JobDetail l_jobs text_valign-middle">
  <a href='#' onClick='builds("{{url}}")'> {{name}}</a></br>
<b>{{description}}</b>

  <div id='builds_{{name}}'>

  <div>
</div>
