<div class="JobDetail text_valign-middle">
  <span class="l_jobs">Le code deployé est celui de la branche github <b>{{branch_name}}</b></span>
  </br>
  {{#if version.version}}
	  <span class="l_jobs">Date du build : <b>{{version.build.Date}}</b></span>
	  </br>
	  <span class="l_jobs">Numero du build : <b>{{version.build.number}}</b></span>
	  </br>
	  <span class="l_jobs">Numero de version : <b>{{version.version}}</b></span>
	  </br>
  {{else}}
  	<span class="error"><b>L'instance est hors ligne</b></span>
	  </br>
  {{/if}}
  
  </br> 
	<div class="btn-toolbar" role="toolbar" aria-label="...">
		<div class="btn-group" role="group" aria-label="...">
  			<button type="button" class="btn btn-warning" onclick="listAssystFromGH('{{id}}')"><span class="glyphicon glyphicon-alert" aria-hidden="true"> Assystes </span> </button>
  			<button type="button" class="btn btn-warning" onclick="listJenkinsBuild('{{id}}')"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"> Jenkins Builds </span> </button>
		</div>
		<div class="btn-group" role="group" aria-label="...">
			<button type="button" class="btn btn-primary" onclick="launchUnderIE('{{url}}');"><span class="glyphicon glyphicon-link" aria-hidden="true"> Ouvrir {{id}} </span></button>
		</div>
	</div>
  
</div>
