<h1>{{displayName}}</h1>
<div class="JobDetail l_jobs text_valign-middle">
  <a href='#' onClick='builds("{{url}}")'> {{name}}</a></br>
<b>{{description}}</b>

  <div id='builds_{{name}}'>
  	<ul>
	{{#each builds}}
		<li> {{number}} - <a href="#" onclick="changeSetDetail('{{url}}');">...more</a>	</li>
			<div id='job{{../name}}build{{fullDisplayName}}' data-buildNumber="{{number}}">
  			<div>
	{{/each}}
	</ul>
  <div>
  
    
</div>
