<div class="JobDetail text_valign-middle">
  <span class="jobTitle">{{instance_name}}</span>
  </br>
  <span class="l_jobs"><b>{{job.description}}</b></span>
  </br>
  {{#if version.version}}
	  <span class="l_jobs">Date du build : <b>{{version.build.Date}}</b></span>
	  </br>
	  <span class="l_jobs">Numero du build : <b>{{version.build.number}}</b></span>
	  </br>
	  <span class="l_jobs">Numero de version : <b>{{version.version}}</b></span>
	  </br>
  {{else}}
  	<span class="error"><b>L'instance est hors ligne</b></span>
	  </br>
  {{/if}}
  <span class="env_url"><a href="{{instance_url}}"  target="_blank" rel="external">Lien vers l'instance</a></b></span>
  </br> 
  </br>
  <input type="button" value="ASSYST" onclick="listAssystFromGH('{{job.url}}')"/>
  
  <div id='builds_{{name}}'>
  	<ul>
	{{#each job.builds}}
		{{#if changes}}
			<li  class={{success}}><div class="buildDetailList"><a href="#" onclick="togglechangeSetDetail(event,'env-{{../../instance_name}}_build-{{number}}');" class="buildDetailLink">Build n°{{number}} du {{buildDate}} - Voir les changements</a></div></li>
			<div id='env-{{../../instance_name}}_build-{{number}}' data-buildNumber="{{number}}" class="buildDetail">
				<div class="commitsText">
					<ul>
						{{#each buildDetail.changeSet.items}}
							<li>{{date}} - {{msg}}</li>
							<span> {{comment}}</span>
						{{/each}}
					</ul>
				</div>
			</div>
		{{else}}
			<li  class={{success}}><div class="buildDetailList">Build n°{{number}} du {{buildDate}} - sans modification</div></li>			
		{{/if}}
	{{/each}}
	</ul>
  <div>


</div>
